# Ignore target directory
target/

# Ignore Maven wrapper files
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Ignore Eclipse files
.classpath
.project
.settings/

# Ignore IntelliJ IDEA files
.idea/
*.iml
*.iws

# Ignore NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Ignore VS Code files
.vscode/

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled class files
*.class

# Ignore package files
*.jar
*.war
*.ear

# Ignore temporary files
*.tmp
*.swp
*~

# Ignore other IDE specific files
*.ipr
*.iws
*.bak
*.old
*.orig
*.rej